.message-bar {
  background-color: rgb(220, 237, 243);
  width: 250px;
  min-height: 50px;
  position: absolute;
  top: 20px;
  right: 10px;
  border-radius: 6px;
  text-align: center;
  color: #848482;

  &__title {
    margin: 16px 0 8px;
  }

  &__text {
    margin-bottom: 16px;
  }
}
