@use '../../styles/mixins';

.wrapper {
  @include mixins.page-wrapper;

  text-align: center;
  .role {
    font-weight: 500;

  }

  .button-block {
    margin-top: 30px;
    border: none;
  
    button {
      margin: 5px 15px;
    }
  }
}
