.wrapper {
  border: 2px dotted grey;
  max-width: 800px;
  margin: 20px auto;
}

.content {
  border: 1px solid orange;

  &__title {
    text-align: center;
  }
}

.radio-fieldset {
  display: flex;
  border: none;

  label {
    margin-left: 20px;
  }
}

.input-fieldset {
  label {
    margin-right: 20px;
  }

  input {
    width: 400px;
  }
}